<!DOCTYPE html>
<html>
<title>Chatbot Page</title>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=.2, user-scalable=no" />

  <style>
	df-messenger {
	    --df-messenger-bot-message: #f4ede4;  /* Soft Beige */
	    --df-messenger-button-titlebar-color: #8c6239; /* Elegant Deep Brown */
	    --df-messenger-chat-background-color: #f9f9f9; /* Clean Off-White */
	    --df-messenger-font-color: #2c2c2c; /* Near-Black for Readability */
	    --df-messenger-send-icon: #d4a017; /* Warm Gold */
	    --df-messenger-user-message: #3b5998; /* Classy Deep Blue */
	}



  </style>



</head>

<body>
  <!-- Your Dialogflow Messenger code here... -->



<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="FAQ-9-POPRAVLJAS-VREME"
  agent-id="b8c3271f-75b5-4b6e-913c-d03c021088fc"
  language-code="en"
></df-messenger>

    <!-- 💡 FIX: FORCE MOBILE MODE -->
    <script>
      window.addEventListener("dfMessengerLoaded", function() {
        const dfMessenger = document.querySelector("df-messenger");

        if (window.innerWidth <= 600) { 
          dfMessenger.style.width = "100%";
          dfMessenger.style.right = "0px";
          dfMessenger.style.maxWidth = "none";
          dfMessenger.style.height = "85vh";
        }
      });
    </script>






</body>


</html>
